*{
    margin: 0;
    box-sizing: border-box;
}
/*font size on slide 63*/
#page-wrapper{
    width:80vw;
    background-color: rgba(202, 240, 248, 0.53);
    margin: 0 auto;
    text-align: center;
    font-size: calc(2px + 1.2vw); /*added to calculate font size*/
    font-family: Sansation, Newsreader, monospace;
}

#container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

header, footer{
    background-color: rgba(0, 119, 182, 0.8);
}
header{
    padding-left: 1%; /*added myself*/
    text-align: left;
}

nav{
    background-color: rgba(0, 180, 216, 0.86);
    width: 30%;
    display: flex;
    justify-content: center;
}

nav ul{
    padding-left: 0;
    list-style: none;
    width: 100%; /* changed from 80 to 100 so that mobile nav will fill out whole row and the boxes are wider*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li{
    border: 5px solid #79d3e3;
    background-color: #79d3e3;
    /*border-radius: 50%; removed to turn into boxes rather than circles*/
    padding: 2%; /* changed from 2 to ... to have the nav items boxes be bigger*/
    margin: 4%; /* added by me to try to get some space between the boxes*/
    width: 80%;
}

nav a{
    text-decoration: none;
}

main{
    height: 100vh;
    width: 70%;
}

/*self added sections*/
main h2 {
    margin: 2%;
    text-align: center;
}

main h4, main p{
    margin: 2%;
    text-align: Center;
    font-family: "Times New Roman", Times, serif;
}

main ul{
    padding-left: 0;
}

main ul li{
    width: 90%; /*added this so that some of my words wouldnt go over the body's section box*/
}

img{
    max-width: 40%;
    /*width: 40%;*/
    /*height: 40vh; slides 113 says to use max-width for images*/
}

/* above is desktop. Below is phone */
@media screen and (max-width: 1000px){
    #container{
        flex-direction: column;
    }
    nav{
        width: 100%;
    }
    nav ul{
        flex-direction: row;
    }
    nav li{ /*added myself*/
        padding: 0.5%;
        margin: 0.5%;
        /*max-width: 20%;*/
    }
    header{
        text-align: center;
    }
    main{
        height: 100vh;
        width: 100%;
        font-size: calc(2px + 2vw);
    }

}